<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div>
			<div>
				<h3>账户总览</h3>
				<hr>
				<table>
					<tr>
						<th>账单周期:</th>
						<th><input type="text" value="2020/03/12" readonly="readonly"></th>
					</tr>
					<tr>
						<th>信用额度:</th>
						<th><input type="text" value="15,000" readonly="readonly"></th>
					</tr>
					<tr>
						<th>本期还款总额:</th>
						<th><input type="text" value="6,540" readonly="readonly"></th>
					</tr>
					<tr>
						<th>到期还款日:</th>
						<th><input type="text" value="2020/03/01" readonly="readonly"></th>
					</tr>
				</table>
			</div>
			<br/>
			<div>
				<h3>人民币账户</h3>
				<hr>
				<table border="1" width="800px">
					<tr>
						<th >交易日期</th>
						<th >记账日期</th>
						<th >交易摘要</th>
						<th >交易地点</th>
						<th >卡号末四位</th>
						<th >人民币金额</th>
						<th >交易地金额</th>
					</tr>
					<tr>
						<th >03-01</th>
						<th >03-04</th>
						<th >支付宝-深圳钱宝科技有限公司</th>
						<th >CN</th>
						<th >3306</th>
						<th >1,168</th>
						<th >1,168</th>
					</tr>
					<tr>
						<th >03-11</th>
						<th >03-14</th>
						<th >京东</th>
						<th >CN</th>
						<th >3306</th>
						<th >536</th>
						<th >536</th>
					</tr>
					<tr>
						<th >03-15</th>
						<th >03-18</th>
						<th >淘宝</th>
						<th >CN</th>
						<th >3306</th>
						<th >4,836</th>
						<th >4836</th>
					</tr>
				</table>
				<div><a href="#">上一页</a> / <a href="#">下一页</a></div>
			</div>
		</div>
	</body>
</html>
