<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div>
			<div>
				<table>
					<tr>
						<th>账单月份:</th>
						<th><input type="text" value="2020-03" readonly="readonly"></th>
					</tr>
					<tr>
						<th>应还总额:</th>
						<th><input type="text" value="6,450" readonly="readonly"></th>
					</tr>
				</table>
			</div>
			<br />
			<div>
				<a href="/accountManage/accountDetail.html">账单明细</a>
				<a href="#">账单分期</a>
				<a href="#">快速还款</a>
			</div>
		</div>
	</body>
</html>
