<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
</head>
<body>
<div>
    <form>
        <table>
            <tr>
                <th style="text-align:right">卡号：</th>
                <th><input type="text" readonly th:value="${creditCard.cardNum}" value="4414**********5146"></th>
                <th><a href="/accountManage/accountQuery.html">账户查询</a></th>
            </tr>
            <tr>
                <th style="text-align:right">可用额度：</th>
                <th><input type="text" readonly th:value="${creditCard.creditLimit}" value="15,000"></th>
            </tr>
            <tr>
                <th style="text-align:right">本期账单金额：</th>
                <th><input type="text" readonly th:value="${alreadyMoney}" value="6,450"></th>
            </tr>
            <tr>
                <th style="text-align:right">本期到账还款日：</th>
                <th><input type="text" readonly th:value="${creditCard.inDate}" value="2020-10-01"> 日</th>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
