<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
		<body>
			<form action="申请分期.html" method="post">
			<table border="1" width="800px">
				<tr >
					<th >交易日期</th>
					<th >记账日期</th>
					<th >交易摘要</th>
					<th >交易地点</th>
					<th >卡号末四位</th>
					<th >人民币金额</th>
					<th >交易地金额</th>
				</tr>
				<tr>
					<th>2020-03-05</th>
					<th>2020-03-08</th>
					<th>淘宝</th>
					<th>CN</th>
					<th>3306</th>
					<th>540</th>
					<th>540</th>
				</tr>
				<tr>
					<th>2020-03-10</th>
					<th>未入账</th>
					<th>京东</th>
					<th>CN</th>
					<th>3306</th>
					<th>124.5</th>
					<th>124.5</th>
				</tr>
				<tr>
					<th>2020-03-08</th>
					<th>2020-03-08</th>
					<th>淘宝</th>
					<th>CN</th>
					<th>3306</th>
					<th>359</th>
					<th>359</th>
				</tr>
			</table>
			<div><a href="#">上一页</a> <a href="#">下一页</a></div>
			<br>
			<br>
			<input type="button" value="申请分期" />
		</form>
	</body>
</html>
