<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.szit.eurekacustomermanage.mapper.CardMapper">
    <!-- 映射 -->
    <resultMap type="com.szit.eurekacustomermanage.pojo.Card" id="cardList">
        <result property="cid" column="cid" />
        <result property="cNum" column="cnum" />
        <result property="cType" column="ctype" />
        <result property="intoclassdate" column="intoclassdate" />
        <result property="uid" column="uid" />
        <result property="ccid" column="ccid" />
        <result property="unid" column="unid" />
        <result property="lid" column="lid" />
        <result property="email" column="email" />
        <result property="payAccount" column="payaccount" />
        <result property="collection" column="collection" />
        <result property="knowBook" column="knowbook" />
        <result property="lineCredit" column="linecredit" />
        <result property="availableCredit" column="availablecredit" />
        <result property="currency" column="currency" />
        <result property="cardCash" column="cardcash" />
        <result property="openStatus" column="openstatus" />
        <result property="tradPassword" column="tradpassword" />
        <result property="csid" column="csid" />
        <association property="user" javaType="com.szit.eurekacustomermanage.pojo.User">
            <id property="uid" column="uid" />
            <result property="telphone" column="telphone" />
            <result property="userName" column="username" />
            <result property="uPassword" column="upassword" />
        </association>
        <association property="creditCardInfo" javaType="com.szit.eurekacustomermanage.pojo.CreditCardInfo">
            <id property="ccid" column="ccid" />
            <result property="cardHolderName" column="cardholdername" />
            <result property="certificateType" column="certificatetype" />
            <result property="certificateNum" column="certificatenum" />
            <result property="phone" column="phone" />
            <result property="nation" column="nation" />
            <result property="maritalStatus" column="maritalstatus" />
            <result property="certificateDate" column="certificatedate" />
            <result property="educationLevel" column="educationlevel" />
            <result property="nowAddress" column="nowaddress" />
            <result property="homeCondition" column="homecondition" />
            <result property="postalCode" column="postalcode" />
        </association>
        <association property="unit" javaType="com.szit.eurekacustomermanage.pojo.Unit">
            <id property="unid" column="unid" />
            <result property="uName" column="uname" />
            <result property="uNature" column="unature" />
            <result property="uPhone" column="uphone" />
            <result property="uDvelop" column="udvelop" />
            <result property="uAddress" column="uaddress" />
            <result property="uDuty" column="uduty" />
            <result property="uThing" column="uthing" />
            <result property="uIncome" column="uincome" />
            <result property="uPostal" column="upostal" />
        </association>
        <association property="linkMan" javaType="com.szit.eurekacustomermanage.pojo.LinkMan">
            <id property="lid" column="lid" />
            <result property="lName" column="lname" />
            <result property="lPhone" column="lphone" />
            <result property="lRelation" column="lrelation" />
        </association>
        <association property="cardStatus" javaType="com.szit.eurekacustomermanage.pojo.CardStatus">
            <id property="csid" column="csid" />
            <result property="cardStatusType" column="cardStatustype" />
        </association>
    </resultMap>

    <!--通过用户编号获取信用卡信息-->
    <select id="getCardByUid" resultMap="cardList">
        select c.*
        from card c
        inner join users u
        on c.uid=u.uid
        where c.uid=#{uid}
    </select>

    <!--通过基本信息编号获取信用卡信息-->
    <select id="getCardByCcid" resultMap="cardList">
        select c.*
        from card c
        inner join creditcardinfo cci
        on c.ccid=cci.ccid
        where c.ccid=#{ccid}
    </select>

</mapper>